/* mobile-first approach */

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* typography */

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

::selection {
  background-color: var(--color-primary);
  color: #fff;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* links */

a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin-left 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* badges */

.badge {
  /* oocss: structure */
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  /* oocss: skin */
  background-color: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  /* oocss: skin */
  background-color: var(--color-secondary);
  color: #fff;
}

.badge--small {
  /* oocss: skin */
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* lists */

.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../assets/icons/tick.svg);
  padding-left: 3rem;
  color: var(--color-headings);
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* SVG icons */

.icon {
  width: 40px;
  height: 40px;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--white {
  fill: #fff;
}

.icon-container {
  background-color: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-container--accent {
  background-color: var(--color-accent);
}

/* buttons */

.btn {
  padding: 2rem 3rem;
  border: none;
  border-radius: 40px;
  margin: 1rem 0;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  /* text-wrap: nowrap; */
  white-space: nowrap;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background-color: #3a8ffd;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.btn--secondary:hover {
  background-color: #00c8eb;
}

.btn--accent {
  background-color: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background-color: #ec3000;
}

.btn--outline {
  background-color: #fff;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}

.btn--outline:hover {
  background-color: var(--color-headings);
  color: #fff;
}

.btn--stretched {
  padding-right: 6rem;
  padding-left: 6rem;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  /* position: relative;
  bottom: -4px; */
  vertical-align: middle;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* inputs */

.input {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 1.5rem 3.5rem;
  outline: 0;
  color: var(--color-headings);
  font-size: 2rem;
}

::placeholder {
  color: #cdcbd7;
}

.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}

.input-group .input {
  border: none;
  flex-grow: 1;
  overflow: hidden;
}

.input-group .btn {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* cards */

.card {
  box-shadow: 0 0 20px 10px #f3f3f3;
  border-radius: 8px;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background-color: var(--color-primary);
  color: #fff;
}

.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: #fff;
}

.card--primary .badge--primary {
  background-color: #126de4;
}

.card--secondary .badge--secondary {
  background-color: #02cdf1;
}

/* plan */

.plan__name {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
  margin: 0;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.plan__description {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.plan .list__item {
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.plan {
  transition: transform 0.3s ease-in-out;
}

.plan:hover {
  transform: scale(1.05);
}

.plan--popular {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.plan--popular:hover {
  transform: scale(1.07);
}

.plan--popular .card__header {
  position: relative;
}

.plan--popular .card__header::before {
  content: url("../assets/images/popular.svg");
  display: inline-block;
  width: 40px;
  position: absolute;
  top: -6px;
  right: 5%;
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }

  .plan__price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}

/* media object */

.media {
  display: flex;
}

.media__image {
  margin-top: 1rem;
}

.media__body {
  margin: 0 2rem;
}

.media__title {
  font-size: 2.8rem;
  margin: 0 0 1rem;
}

.media__text {
  font-size: 2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  .media__title {
    font-size: 2.4rem;
  }

  .media__text {
    font-size: 1.8rem;
    margin-bottom: 1.8rem;
  }
}

/* quote */

.quote__text {
  font-size: 2.2rem;
  font-style: italic;
  color: var(--color-body-darker);
  line-height: 1.3;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__author {
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 0;
}

.quote__organization {
  color: var(--color-headings);
  opacity: 0.4;
  font-size: 1.5rem;
  font-style: normal;
}

.quote__icon {
  position: relative;
  bottom: 10px;
}

@media screen and (min-width: 1024px) {
  .quote__text {
    font-size: 2rem;
  }

  .quote__author {
    font-size: 2.4rem;
  }

  .quote__organization {
    font-size: 1.6rem;
  }
}

/* grids */

.grid {
  display: grid;
}

/* .grid--cols-2 {
  grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
} */

@media screen and (min-width: 768px) {
  .grid--cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .grid--cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* testimonial */

.testimonial {
  padding: 3rem;
}

.testimonial__image {
  position: relative;
  margin: 0 3rem;
}

.testimonial__image > img {
  width: 100%;
  margin: 0;
}

.testimonial__image > .icon-container {
  position: absolute;
  top: 3rem;
  right: -32px;
}

@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }

  .testimonial .quote {
    margin-left: 6rem;
  }

  .testimonial__image {
    margin: 0;
  }
}

/* callout */

.callout {
  padding: 4rem;
  border-radius: 5px;
}

.callout--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.callout__heading {
  color: #fff;
  margin-top: 0;
  font-size: 3rem;
}

.callout .btn {
  place-self: center;
}

.callout__content {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .callout .grid--cols-2 {
    grid-template-columns: 1fr auto;
  }

  .callout__content {
    text-align: left;
  }

  .callout .btn {
    justify-self: start;
    margin: 0 2rem;
  }
}

/* callapsible */

.callapsible {
  padding: 2rem;
}

.callapsible__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.callapsible__heading {
  margin-top: 0;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  align-self: flex-start;
}

.callapsible__content {
  /* display: none; */
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.callapsible__icon {
  fill: #393939;
  cursor: pointer;
  transform: rotate(-90deg);
  transition: transform 0.5s;
}

.callapsible--expanded .callapsible__icon {
  transform: rotate(0);
}

.callapsible--expanded .callapsible__content {
  /* display: block; */
  max-height: 100vh;
  opacity: 1;
}

/* blocks */

.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
  /* border: 2px solid red; */
}

.block__header {
  text-align: center;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  background-color: #000;
  color: #7b858b;
}

.block--dark h1,
.block--dark h2,
.block--dark h3 {
  color: #fff;
}

.block--skewed-right {
  padding: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}

.block--skewed-left {
  padding: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

/* other components */

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* navigation bar section */

.nav {
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.nav__logo {
  transform: translateY(5px);
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}

.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #fff;
}

.nav__toggler {
  opacity: 0.5;
  cursor: pointer;
  transition: box-shadow 0.15s;
}

.nav.callapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 0;
  }
}

/* hero section */

.hero {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

.hero__image {
  width: 100%;
  object-fit: cover;
}

.hero__heading {
  font-size: 6rem;
}

.hero__description {
  font-size: 2rem;
  letter-spacing: 1px;
  color: #b9c3cf;
  margin: 2rem 0 5rem;
}

@media screen and (max-width: 768px) {
  .hero.block {
    padding: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }

  .hero__content {
    text-align: left;
    align-self: center;
  }
}

@media screen and (min-width: 1024px) {
  .hero__heading {
    font-size: 8rem;
  }
}

/* block-domain section */

.block-domain {
  text-align: center;
}

.block-domain__description {
  font-size: 2rem;
}

.block-domain__searchbox {
  box-shadow: 0 0 30px 20px #e6ebee;
  border: none;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.block-domain__searchbox-btn {
  font-size: 1.8rem;
}

.block-domain__prices {
  max-width: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 3rem;
  font-size: 2rem;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .block-domain__prices {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    row-gap: 0;
  }
  .block-domain__searchbox-btn {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media screen and (min-width: 1024px) {
  .block-domain__description {
    font-size: 1.8rem;
  }
}

/* block-plans */

.block-plans .grid {
  gap: 8rem 4rem;
}

.block-plans .card {
  max-width: 500px;
  margin: 0 auto;
}

/* feature component */

.feature {
  gap: 4rem 2rem;
  margin-top: 12rem;
}

.feature:first-of-type {
  margin-top: 6rem;
}

.feature__image {
  width: 100%;
}

.feature__heading {
  font-weight: 600;
  margin: 1rem 0;
}

.feature__description {
  font-size: 2rem;
}

/* block-features */

@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }
}

/* block-showcase */

.block-showcase {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
}

.block-showcase.block {
  padding: 5rem 2rem 10rem;
}

.block-showcase .grid {
  row-gap: 4rem;
}

.block-showcase .block__header {
  margin-bottom: 6rem;
}

.block-showcase__image {
  width: 100%;
}

.block-showcase__item {
  margin-bottom: 4rem;
}

.block-showcase__item:last-of-type {
  margin-bottom: 8rem;
}

.block-showcase .media__title {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .block-showcase .grid {
    grid-template-columns: 50% 50%;
  }
  .block-showcase__image {
    /* width: auto;
    max-width: 700px; */
    min-width: 700px;
    justify-self: end;
  }
}

/* block-testimonial */
