<section class="block block-domain">
  <header class="block__header">
    <h2 class="block__heading">Starting at $10 per month</h2>
    <p class="block-domain__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti,
      exercitationem?
    </p>
  </header>
  <div class="input-group block-domain__searchbox">
    <input type="text" class="input" placeholder="Enter domain name here..." />
    <button class="btn btn--accent block-domain__searchbox-btn">
      <svg class="icon icon--white">
        <use xlink:href="./assets/icons/sprite.svg#search"></use></svg
      >search
    </button>
  </div>
  <ul class="list list--inline block-domain__prices">
    <li><span class="badge badge--secondary">.com $10</span></li>
    <li>.org $9</li>
    <li>.net $7</li>
    <li>.co $8</li>
    <li>.info $14</li>
    <li>.dev $10</li>
  </ul>
</section>
