<section class="block container block-features">
  <div class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, voluptatem.
    </p>
  </div>
  <!-- feature 1 -->
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="./assets/icons/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p class="feature__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad saepe sed
        voluptatum possimus ipsum. Totam doloremque molestiae veniam sapiente
        impedit.
      </p>
      <a href="#" class="link-arrow">learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="assets/images/easy.webp 1x, assets/images/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="assets/images/easy.jpg 1x, assets/images/easy@2x.jpg 2x"
      />
      <img class="feature__image" src="assets/images/easy.jpg" alt="" />
    </picture>
  </article>
  <!-- feature 2 -->
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="./assets/icons/sprite.svg#settings"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p class="feature__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad saepe sed
        voluptatum possimus ipsum. Totam doloremque molestiae veniam sapiente
        impedit.
      </p>
      <a href="#" class="link-arrow">learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="assets/images/fast.webp 1x, assets/images/fast@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="assets/images/fast.jpg 1x, assets/images/fast@2x.jpg 2x"
      />
      <img class="feature__image" src="assets/images/fast.jpg" alt="" />
    </picture>
  </article>
  <!-- feature 3 -->
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="./assets/icons/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Wordpress Made Easy</h3>
      <p class="feature__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad saepe sed
        voluptatum possimus ipsum. Totam doloremque molestiae veniam sapiente
        impedit.
      </p>
      <a href="#" class="link-arrow">learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="
          assets/images/wordpress.webp    1x,
          assets/images/wordpress@2x.webp 2x
        "
      />
      <source
        type="image/jpg"
        srcset="
          assets/images/wordpress.jpg    1x,
          assets/images/wordpress@2x.jpg 2x
        "
      />
      <img class="feature__image" src="assets/images/wordpress.jpg" alt="" />
    </picture>
  </article>
  <!-- feature 4 -->
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="./assets/icons/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3 class="feature__heading">24/7 Expert Support</h3>
      <p class="feature__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad saepe sed
        voluptatum possimus ipsum. Totam doloremque molestiae veniam sapiente
        impedit.
      </p>
      <a href="#" class="link-arrow">learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="assets/images/support.webp 1x, assets/images/support@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="assets/images/support.jpg 1x, assets/images/support@2x.jpg 2x"
      />
      <img class="feature__image" src="assets/images/support.jpg" alt="" />
    </picture>
  </article>
</section>
