<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad saepe sed
      voluptatum possimus ipsum. Totam doloremque molestiae veniam sapiente
      impedit.
    </p>
  </header>
</section>

<section class="block block--dark block--skewed-right">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad saepe sed
        voluptatum possimus ipsum. Totam doloremque molestiae veniam sapiente
        impedit.
      </p>
    </header>
  </div>
</section>
