<div class="callout callout--primary">
  <div class="grid grid--cols-2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to get started?</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed laboriosam
        modi soluta voluptatum doloribus aliquam fugiat aspernatur nobis
        obcaecati ut eveniet amet, tempora facilis minima! In corrupti impedit
        voluptate ullam!
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
