<div class="container">
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="./assets/icons/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p class="feature__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad saepe sed
        voluptatum possimus ipsum. Totam doloremque molestiae veniam sapiente
        impedit.
      </p>
      <a href="#" class="link-arrow">learn more</a>
    </div>
    <img class="feature__image" src="assets/images/easy.jpg" alt="" />
    <!-- TODO make image optimize for resolution, then convert it to webp format -->
  </article>
</div>
