<div class="container">
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="./assets/icons/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p class="feature__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad saepe sed
        voluptatum possimus ipsum. Totam doloremque molestiae veniam sapiente
        impedit.
      </p>
      <a href="#" class="link-arrow">learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="assets/images/easy.webp 1x, assets/images/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="assets/images/easy.jpg 1x, assets/images/easy@2x.jpg 2x"
      />
      <img class="feature__image" src="assets/images/easy@2x.jpg" alt="" />
    </picture>
  </article>
</div>
