<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="footer__section">
      <div class="callapsible callapsible--expanded">
        <header class="callapsible__header">
          <h2 class="callapsible__heading footer__heading">Products</h2>
          <svg class="icon icon--white callapsible__icon">
            <use xlink:href="./assets/icons/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="callapsible__content">
          <ul class="list footer__list">
            <li><a class="footer__link" href="#">Website Hosting</a></li>
            <li>
              <a class="footer__link" href="#">Free Automated Wordpress</a>
            </li>
            <li><a class="footer__link" href="#">Migrations</a></li>
          </ul>
        </div>
      </div>
    </section>

    <section class="footer__section">
      <div class="callapsible">
        <header class="callapsible__header">
          <h2 class="callapsible__heading footer__heading">Company</h2>
          <svg class="icon icon--white callapsible__icon">
            <use xlink:href="./assets/icons/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="callapsible__content">
          <ul class="list footer__list">
            <li><a class="footer__link" href="#">About</a></li>
            <li><a class="footer__link" href="#">Affiliates</a></li>
            <li><a class="footer__link" href="#">Blog</a></li>
          </ul>
        </div>
      </div>
    </section>

    <section class="footer__section">
      <div class="callapsible">
        <header class="callapsible__header">
          <h2 class="callapsible__heading footer__heading">Support</h2>
          <svg class="icon icon--white callapsible__icon">
            <use xlink:href="./assets/icons/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="callapsible__content">
          <ul class="list footer__list">
            <li><a class="footer__link" href="#">Contact</a></li>
            <li><a class="footer__link" href="#">Knowledge Base</a></li>
            <li><a class="footer__link" href="#">FAQ</a></li>
          </ul>
        </div>
      </div>
    </section>

    <section class="footer__section">
      <div class="callapsible">
        <header class="callapsible__header">
          <h2 class="callapsible__heading footer__heading">Domains</h2>
          <svg class="icon icon--white callapsible__icon">
            <use xlink:href="./assets/icons/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="callapsible__content">
          <ul class="list footer__list">
            <li><a class="footer__link" href="#">Domain Checker</a></li>
            <li><a class="footer__link" href="#">Domain Transfer</a></li>
            <li><a class="footer__link" href="#">Free Domain</a></li>
          </ul>
        </div>
      </div>
    </section>

    <div class="footer__brand">
      <img src="assets/icons/logo.svg" alt="" />
      <p class="footer__copyright">Copyright 2023 Mosh Hamedani</p>
    </div>
  </div>
</footer>
