<div class="grid grid--cols-2">
  <div style="height: 100px; background-color: lightblue"></div>
  <div style="height: 100px; background-color: lightcoral"></div>
</div>

<div class="grid grid--cols-3">
  <div style="height: 100px; background-color: lightblue"></div>
  <div style="height: 100px; background-color: lightcoral"></div>
  <div style="height: 100px; background-color: lightgoldenrodyellow"></div>
</div>

<div class="grid grid--cols-4">
  <div style="height: 100px; background-color: lightblue"></div>
  <div style="height: 100px; background-color: lightcoral"></div>
  <div style="height: 100px; background-color: lightgoldenrodyellow"></div>
  <div style="height: 100px; background-color: lightgreen"></div>
</div>
