<div class="card testimonial">
  <div class="grid grid--cols-2">
    <div class="testimonial__image">
      <img
        class="testimonial__image"
        src="assets/images/testimonial.jpg"
        alt="testimonial image"
      />
      <span class="icon-container icon-container--accent">
        <svg class="icon--small icon--white">
          <use xlink:href="./assets/icons/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Lorem, ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
        libero ab laudantium modi eos nihil consectetur dolorum similique totam
        impedit!
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__icon">
              <use xlink:href="./assets/icons/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Lord Vader</h3>
            <p class="media__text quote__organization">from the Dark Side</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
